
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>


<script type="text/javascript">
    var onloadCallback = function () {
        grecaptcha.render('captcha4', {
            'sitekey': '6LdfGyATAAAAADvIdChf1NZ_6fsUfaRqVgx77W7f'
        });
        grecaptcha.render('captcha1', {
            'sitekey': '6LdfGyATAAAAADvIdChf1NZ_6fsUfaRqVgx77W7f'
        });
        grecaptcha.render('captcha2', {
            'sitekey': '6LdfGyATAAAAADvIdChf1NZ_6fsUfaRqVgx77W7f'
        });
    };
</script>

@using (Ajax.BeginForm("ValidateReCaptcha", "Home", new { captchaRouteValue = "rc1" }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "reCaptchaAjax",
    HttpMethod = "Post"
}, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="captcha1"></div>

    <input type="submit" class="btn btn-default" value="Register" />

    if (TempData["rc1"] != null)
    {
        <p>@TempData["rc1"]</p>
    }
}



@using (Ajax.BeginForm("ValidateReCaptcha", "Home", new { captchaRouteValue = "rc2" }, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "reCaptchaAjax",
    HttpMethod = "Post"
}, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="captcha2"></div>

    <input type="submit" class="btn btn-default" value="Register" />

    if (TempData["rc2"] != null)
    {
        <p>@TempData["rc2"]</p>
    }
}

<div id="captcha4" hidden></div>