<!DOCTYPE html>
<html>
<head>
    <title>ReCaptcha</title>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>